.education__container {
    display: flex;
    justify-content: center;
}

.education__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transform: var(--transition);
}

.education__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.education__content {
    display: grid;
    grid-template-columns: 1fr;
}

.education__columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    margin-bottom: 2rem;
}
.education__score {
    font-weight: 500;
    color: var(--color-primary);
}

.education__details {
    display: flex;
    gap: 1rem;
}

.education__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

/* ===================== Media Queries (Medium Devices) ===================== */
@media screen and (max-width: 1024px) {

    .education__content {
        padding: 1rem;
    }
}


/* ===================== Media Queries (Small Devices) ===================== */

@media screen and (max-width: 600px) {
    
    .education__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}
